.container {
  width: 100vw;
  /* height: 1000px; */
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#image {
  width: 80vw !important;
}

.text {
  font-size: 4vw !important;
}